.examples .promise{
    padding: 20px;
}

.promise ul li {
    line-height: 30px;
}

.examples .exampleCon {
    height: 610px;
    margin-top: 20px;
    border-bottom: 3px solid #F3F4F8;
    overflow: hidden;
}

.examples .exampleCon .category {
    float: left;
    width: 92px;
    height: 580px;
    margin-top: 30px;
    background: #DEDEDE;
}

.category li a {
    display: inline-block;
    width: 92px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #28549F;
    font-weight: bold;
    padding: 0;
    background: #DEDEDE;
    font-size: 13px;
}

.category li a:hover {
    background: #DEDEDE;
    color: #28549F;
}

.category li.selected a {
    background: #FFF;
    color: #000;
}

.category li a.selected:hover {
    background: #FFF;
    color: #000;
}

.examples .exampleCon .exampleList {
    padding: 0 20px 20px 20px;
    margin-left: 92px;
    height: 580px;
}

.exampleList #toTransCon {
    float: left;
    width: 390px;
    height: 580px;
}

.exampleList #toTransCon p, .exampleList #toTransCon li {
    line-height: 34px;
}

.exampleList #transCon {
    float: right;
    width: 390px;
    height: 580px;
}

.exampleList #transCon p, .exampleList #transCon li {
    line-height: 22px;
}

.exampleList .examTitle {
    height: 20px;
    line-height: 20px;
}

.exampleList .transCon {
    width: 370px;
    height: 550px;
    border: 1px solid #D4D4D4;
    overflow-y: auto;
    padding: 10px;
    font-size: 13px;
    margin-top: 10px;
}